<h2 id="registration" *ngIf="isAddMode"> Add Employee Register Form</h2>
<h2 id="registration" *ngIf="!isAddMode"> Update Employee Register Form</h2>
<div class="form">
    <form [formGroup]="empForm" (ngSubmit)="onSubmit();" *ngIf="employee">
        <div class="modal-body row">
            <div class="col-md-6">
                <label>EmployeeId</label>
                <input type="text" placeholder="Enter EmployeeId" formControlName="id" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f['id'].errors }" />
                <div *ngIf="submitted && f['id'].errors" class="invalid-feedback">
                    <div *ngIf="f['id'].errors['required']">Id is required</div>
                </div>

            </div>

            <div class="col-md-6">
                <label>Name</label>
                <input type="text" class="form-control" id="Name" placeholder="Name" formControlName="name"
                [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" >
                <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                    <div *ngIf="f['name'].errors['required']">Name is required</div>
                </div>
            </div>
        </div>
        <div class="modal-body row">
            <div class="col-md-6">
                <label>Contact Number</label>
                <input type="text" id="ContactNumber" placeholder="ContactNumber" formControlName="contactNumber"
                [ngClass]="{ 'is-invalid': submitted && f['contactNumber'].errors }">
                <div *ngIf="submitted && f['contactNumber'].errors" class="invalid-feedback">
                    <div *ngIf="f['contactNumber'].errors['required']">Contact Number is required</div>
                </div>
            </div>
            <div class="col-md-6">
                <label>Email</label>
                <input type="text" id="Email" placeholder="Email" formControlName="email"
                [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
                <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                    <div *ngIf="f['email'].errors['required']">Email is required</div>
                </div>
            </div>
        </div>

        <div class="modal-body row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        Skill :
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                        <input type="addSkill" value="Add Skill +" id="btnAS" (click)="addNewSkill()">
                    </div>
                </div>
                <div formArrayName="skills">
                    <div *ngFor="let child of empForm.get('skills')['controls']; let i = index">
                        <div class="row" [formGroupName]="i">
                            <div class="col-md-5">
                                <input type="text" id="skill" placeholder="Enter Skill Name"
                                    formControlName="skillName" [ngClass]="{ 'is-invalid': submitted && empForm.get('skills')['controls'][i].get('skillName').errors }"/> 
                                    <div *ngIf="submitted && empForm.get('skills')['controls'][i].get('skillName').errors" class="invalid-feedback">
                                        <div *ngIf="empForm.get('skills')['controls'][i].get('skillName').errors['required']">Skill Name is required</div>
                                    </div>                                   
                            </div>
                            <div class="col-md-5">
                                <select class="form-control" formControlName="skillExperience"
                                [ngClass]="{ 'is-invalid': submitted && empForm.get('skills')['controls'][i].get('skillExperience').errors }">
                                    <option value="">Select Experience</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                                <div *ngIf="submitted && empForm.get('skills')['controls'][i].get('skillExperience').errors" class="invalid-feedback">
                                    <div *ngIf="empForm.get('skills')['controls'][i].get('skillExperience').errors['required']">Skill Experience is required</div>
                                </div> 
                            </div>
                            <div class="col-md-2">                                
                                 <input type="deleteSkill" value="Remove" id="btnDS" (click)="removeSkill(i)">                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <label style="margin-right: 20px;">Gender: </label>
                <label style="margin-right: 20px;">
                    <input type="radio" formControlName="gender" value="Male" />Male</label>
                <label><input type="radio" formControlName="gender" value="Female" /> Female</label>
            </div>
        </div>
        <div class="modal-body row">
            <div class="col-md-6">
                <input type="submit" value="Submit" id="btn" (click)="validate()">
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </form>

</div>